In [1]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
import re

In [2]:
url = "https://countrymeters.info/ru/Kazakhstan"
page = requests.get(url)
soup = bs(page.text, 'html.parser')

In [3]:
headerFinal = {
    'Год': 'Год',
    'Население': 'Население',
    'Прирост населения': 'Прирост населения'
}

In [4]:
table_data = soup.find('table', class_=re.compile(r"years"))

In [6]:
headerParsed = table_data.find(name='tr').findAll(name='th')
headers = [header.text for header in headerParsed]
bodyParsed = table_data.find(name='tr').findAll(name='td')

In [7]:
df = pd.DataFrame(columns = headers)

In [8]:
df = df.rename(mapper=headerFinal,axis='columns')

In [10]:
for each in bodyParsed:
    row_data = each.find_all('td')
    row = [tr.text for tr in row_data]
    length = len(df)

In [13]:
df.head()

    Год  Население Прирост населения
0  1951  6,757,728             N/A %
1  1952  6,909,635            2.25 %
2  1953  7,138,926            3.32 %
3  1954  7,426,963            4.03 %
4  1955  7,758,847            4.47 %

In [16]:
df.to_csv('populkz.csv')